h1.header
  |Log In

md-input-container
  //- Use floating placeholder instead of label -->
  md-icon.email(md-svg-src="img/icons/ic_email_24px.svg")
  input(ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true")
div.inputs
  div.form-group
    div.form-control-wrapper
      input.form-control.floating-label(type="text" ng-model="login.email" placeholder="Email")
    div.form-control-wrapper
      input.form-control.floating-label(type="password" ng-model="login.password" placeholder="Password")
div.actions
  div.form-control-wrapper
    button.btn.btn-primary(ng-click="login.submit()") Login
div.links
  span Don't have an account? 
    a(ui-sref='auth.register') Sign Up
div.links
  span Forgot your password? 
    a(ui-sref='auth.resetPassword') Reset Password