md-content(layout-padding="" layout="column")
  md-input-container(flex="")
    label Password
    input(type="password" ng-model="passwordReset.password")
md-content(layout-padding="" layout="row" layout-lt-md="column")
  md-button.md-raised.md-primary(flex="" ng-click="passwordReset.submit()") Change Password
  md-button(flex="" ng-click="auth.back()") Back