md-content(layout-padding="" layout="column")
  md-input-container(flex="")
    label Email
    input(ng-model="resetPassword.email")
md-content(layout-padding="" layout="row" layout-lt-md="column")
  md-button.md-raised.md-primary(flex="" ng-click="resetPassword.submit()") Reset Password
  span &nbsp;&nbsp;&nbsp;
  md-button(flex="" ng-click="app.back()") Back

//- div.messages
//-   span 
//-     |{{resetPassword.message}}
//- div.inputs
//-   div.form-group
//-     div.form-control-wrapper
//-       input.form-control.floating-label(type="text" ng-model="resetPassword.email" placeholder="Email")
//- div.actions
//-   div.form-control-wrapper
//-     button.btn.btn-primary(ng-click="resetPassword.submit()") Reset Password