.container.home
  h1.header
    |Welcome to Hubster!
  p 
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quis officia, beatae nisi ipsam minus! Molestias recusandae, dignissimos fuga dolor porro officia, enim consequatur accusantium laudantium deserunt quis rerum dolorum.

  button.btn.btn-primary.btn-lg(ng-click='home.signOut()' ng-show='!home.currentUser()') Sign out
  div.new-user(ng-show='home.currentUser()')
    a.btn.btn-primary.btn-lg(ui-sref='auth.register') Sign Up
    br
    a(ui-sref='auth.login') Log In

  div(data-ui-view)