body {
  color: #285052;
}

.logo {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px auto;
}

.logo:before,
.logo:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.logo:before {
  bottom: 100%;
  border-bottom: 28.87px solid #64C7CC;
}

.logo:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #64C7CC;
}

button {
  padding: .5em;
}

p {
  margin-top: .2em;
}

h2 {
  margin-bottom: .2em;
}