div.inputs
  input.form-control(type="text" ng-model="login.name" placeholder="Full Name")
  input.form-control(type="text" ng-model="login.email" placeholder="Email")
  input.form-control(type="password" ng-model="login.password" placeholder="Password")
div.actions
  button.btn.btn-primary(ng-click="login.submit()") Register Now
