h1.header
  |Create a Hubster Account
div.container
  div.row
    div.col-md-3
      |hi
    div.col-md-6  
    div.messages
      span 
        |{{registration.message}}
    div.inputs
      div.form-group
        div.form-control-wrapper
          input.form-control.floating-label(type="text" ng-model="registration.name" placeholder="Full Name")
        div.form-control-wrapper
          input.form-control.floating-label(type="text" ng-model="registration.email" placeholder="Email")
        div.form-control-wrapper
          input.form-control.floating-label(type="password" ng-model="registration.password" placeholder="Password")
    div.actions
      button.btn.btn-primary(ng-click="registration.submit()") Register Now
      button.btn.btn-warning.btn-flat(ui-sref="auth.login") Back to Login
