div.inputs
  input.form-control(type="text" ng-model="registration.name" placeholder="Full Name")
  input.form-control(type="text" ng-model="registration.email" placeholder="Email")
  input.form-control(type="password" ng-model="registration.password" placeholder="Password")
div.actions
  button.btn.btn-primary(ng-click="registration.submit()") Register Now
