h1 {
  text-align: center;
  
}
.auth-header {
  margin-top: 60px;
}

.inputdemoIcons .inputIconDemo {
  min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; }
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: red; }

.oauth-spacer {
  padding: 2em 0;
  text-align: center;
  .md-button.md-default-theme.google {
    background-color: #dd4b39;
  }

  .md-button.md-default-theme.twitter {
    background-color: #4099ff;
  }

  .md-button.md-default-theme.facebook {
    background-color: #3b5998;
  }

  .md-button.md-default-theme.github-circle {
    background-color: #000;
  }
}