h1 {
  text-align: center;
  
}
.auth-header {
  margin-top: 60px;
}

.inputdemoIcons .inputIconDemo {
  min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; }
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: red; }

.oauth-spacer {
  padding: 2em 0;
  .google .md-fab {
    background-color: #dd4b39;
  }

  .google .md-fab:hover, .google .md-fab.md-focused  {
    background-color: #cd3b29 !important;
  }

  .twitter .md-fab {
    background-color: #4099ff;
  }

  .twitter .md-fab:hover, .twitter .md-fab.md-focused {
    background-color: #3089ef !important;
  }

  .facebook .md-fab {
    background-color: #3b5998;
  }

  .facebook .md-fab:hover, .facebook .md-fab.md-focused  {
    background-color: #2b4988 !important;
  }

  .github-circle .md-fab {
    background-color: #000;
  }

  .github-circle .md-fab:hover, .github-circle .md-fab.md-focused {
    background-color: #202020 !important;
  }
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}