md-content(layout-padding="" layout="column")
  md-input-container(flex-gt-sm="25")
    label Name
    input(ng-model="registration.name")
  md-input-container(flex-gt-sm="25")
    label Email
    input(ng-model="registration.email")
  md-input-container(flex-gt-sm="25")
    label Password
    input(type="password" ng-model="registration.password")
md-content(layout-padding="" layout="row")
  md-button.md-raised.md-primary(flex="" ng-click="registration.submit()") Register
  md-button(flex="" ng-click="auth.back()") Back
