div.home-container
  header
    div.logo
    h1 Hubster
  h2 Plan your next event with us!
  md-button.md-raised.md-primary(flex ui-sref="auth.register") Get started now
  p - OR -
  md-button.md-primary(flex ui-sref="learn-more") Learn more
  br
  p.sign-in Already have an account? 
    a(ui-sref="auth.login") Sign In
  p.home-footer By continuing, you accept 
    a(href="#") Terms of Use 
    | and 
    a(href="#") Privacy Policy
    | .