div(layout="row" layout-align="center center")
  div(flex-gt-md="40" flex-md="60" flex-sm="90")
    div.logo
    h1 Hubster 
    h2 Create your account
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat laudantium, sit voluptas, ullam repellendus est optio voluptatum fuga earum, consequuntur voluptate aut expedita provident animi distinctio eaque praesentium officiis libero.
    h2 Start an event
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iusto officia accusantium nobis? Animi id magnam blanditiis assumenda sed fugiat nobis, impedit necessitatibus mollitia officia. In excepturi necessitatibus sunt, suscipit?
    h2 Invite your friends
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, dolor modi illum, nulla, itaque enim deleniti pariatur dolores et consectetur reiciendis sint. Adipisci maiores sunt velit, quasi molestiae laborum ut.
    md-content.buttons(layout-padding="" layout="row")
      md-button.md-raised.md-primary(flex="" ui-sref="auth.register") Get started now
      span &nbsp;&nbsp;&nbsp;
      md-button(flex="" ng-click="app.back()") Back