div(layout="row" layout-align="center center")
  div(flex-gt-md="40" flex-md="60" flex-sm="90")
    div.logo
    h1 Hubster 
    h2 Legal BS
    p Three-martini lunch we need to have a Come to Jesus meeting with Phil about his attitude, so sacred cow if you want to motivate these clowns, try less carrot and more stick rock Star/Ninja we need to dialog around your choice of work attire, for UX. 
    md-content.buttons(layout-padding="" layout="row")
      md-button.md-raised.md-primary(flex="" ui-sref="auth.register") Get started
      span &nbsp;&nbsp;&nbsp;
      md-button(flex="" ng-click="app.back()") Back