doctype html
html(lang='en' data-ng-app='hubster')
  head
    title hubster
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body(layout="row" ng-controller="AppCtrl as app")
    md-sidenav.md-sidenav-left.md-whiteframe-z2(layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')")
      md-toolbar.md-tall.md-hue-2
        span(flex)
        div.md-toolbar-tools-bottom.inset(layout="column")
          div First Last
          div test@example.com
      md-list
        md-item 
          a 
            md-item-content(md-ink-ripple layout="row" layout-align="start center")
              div.inset Log In
        md-item 
          a 
            md-item-content(md-ink-ripple layout="row" layout-align="start center")
              div.inset Sign Up
    div.relative(layout="column" layout-fill role="main")
      md-button.md-fab.md-fab-bottom-right(aria-label="Add" ng-click="showAdd($event)")
        ng-md-icon(icon="add")
      md-toolbar(ng-show="!showSearch")
        div.md-toolbar-tools
          md-button(ng-click="app.toggleSidenav('left')" hide-gt-md aria-label="Menu")
            ng-md-icon(icon="menu")
          h3 Dashboard
          span(flex)
          md-button(aria-label="Search" ng-click="showSearch = !showSearch")
            ng-md-icon(icon="search")
          md-button(aria-label="Open Settings" ng-click="showSettings = !showSettings")
            ng-md-icon(icon="more_vert")
      md-toolbar.md-hue-1(ng-show="showSearch")
        .md-toolbar-tools
          md-button(ng-click="showSearch = !showSearch" aria-label="Back")
            ng-md-icon(icon="arrow_back")
          h3 Back
          md-input-container(md-theme="input" flex)
            lable &nbsp;
            input(ng-model="search.who" placeholder="enter search")
          md-button(aria-label="Search" ng-click="showSearch = !showSearch")
            ng-md-icon(icon="search")
          md-button(aria-label="Open Setting" ng-click="showListBottomSheet($event)")
            ng-md-icon(icon="more_vert")
      md-bottom-sheet.md-list.md-has-header(ng-show="showSettings")
        md-subheader Settings
        md-list
          md-item
            md-item-content(md-ink-ripple flex class="inset")
              a(flex aria-label="Display")
                span.md-inline-list-icon-label Display
          md-item
            md-item-content(md-ink-ripple flex class="inset")
              a(flex aria-label="Privacy")
                span.md-inline-list-icon-label Privacy
      div(data-ui-view)
    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
